style= require('./kanban.component.sass')
.kanban
  each group in groups && window.Object.keys(groups)
    .lane
      - var tag = (tags[group] || [])[0] || {}
      - log(tag)
      h3(style={color: tag.color})= t(tag.title)
      each task in groups[group]
        .card
          h4= task.title
          p= task.description
